<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error. @ViewBag.ErrorCode</h1>
    </hgroup>
        <p>@ViewBag.ErrorMessage</p>
</body>
</html>
