<div class="d-flex flex-column justify-content-center align-items-center">
  <div>
    <img [src]="imgSrc" class="img-fluid" />
  </div>
  <div class="d-grid gap-2 d-md-block mt-2">
    <button class="btn btn-primary ms-3" type="button" (click)="Next()">
      Next
    </button>
    <button class="btn btn-primary ms-3" type="button" (click)="Prev()">
      Prev
    </button>
    <button class="btn btn-primary ms-3" type="button" (click)="Start()">
      Start
    </button>
    <button class="btn btn-primary ms-3" type="button" (click)="End()">
      Stop
    </button>
  </div>
</div>
