
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="/Car/Create" method="post">
    <input type="text" name="Id" value=""required />
    <input type="text" name="Color" value="" required/>
    <input type="text" name="Model" value=""required />
    <input type="text" name="Manufacture" value="" required />

    <input type="submit" value="Save" />
</form>