@using CarTask.Models
@{
    ViewBag.Title = "SelectCarById";
    Car SelectedCar = ViewBag.SelectedCar;
}

<h2>SelectCarById</h2>

<p>Num: @SelectedCar.Num</p>
<p>Color: @SelectedCar.Color</p>
<p>Model: @SelectedCar.Model</p>
<p>Manufacture: @SelectedCar.Manufacture</p>


